{% extends '@ChromeExt/base.html.twig' %}

{% block main %}
{% for customerName, customer in customers %}
  <div class="container" title="{{ customerName }}">
    <ul>
      <li>{{ customerName }}</li>
      <ul>
      {%  for project in projects[customerName] %}
        <li><a href="{{ path('chrome_ext_project', {projectId: project.getId}) }}">{{ project.name  }}</a></li>
      {% endfor %}
      </ul>
      </div>
  </ul>
{% endfor %}

{% endblock %}