{% extends 'base.html.twig' %}

{% block main %}
<h4>{{ project.name }} ({{ project.customer.name }})</h4>

{% if not extproject %}
    <div class="container">
        No issues have been created against this project
    </div>
{%  endif %}

{%  if issues | length %}
    <div class="container">
      {% for issue in issues %}
        <div>{{ issue.uuid }} this will link to the issue data</div>
      {% endfor %}
    </div>
{% else %}
    <div class="container">
      <p>No issues or timesheets are associated with this project yet.</p>
      <p>Navigate to a github issue and re-open the pop-up to log time against that issue.</p>
    </div>
{% endif %}

{% endblock %}