{% extends '@ChromeExt/base.html.twig' %}

{% block page_title %}Associate Project{% endblock %}

{% block main %}
<div class='container'>
{%  if not kimai_project %}
    <div>
        There is no kimai project associated with the project UUID <code>{{ projectUuid }}</code>.
        Select a kimai project to associated it with.
    </div>
{% else %}
    <div>
        Change the kimai project associated with the UUID <code>{{ projectUuid }}</code>.
    </div>
{%  endif %}
<div>
    {{ form(form) }}
</div>

{%  if not kimai_project %}
    <div>
        If you cannot find the correct project in this list then contact your project lead.  
        If you are the project lead you may need to log into the full kimai UI and create the project.
    </div>
{%  endif %}
</div>
{% endblock %}